/* Session One */
.session-one__container {
  position: relative;
  height: 100vh;
  background: url("https://drive.google.com/uc?export=view&id=1xTIRwpz6cmNFm0FkskYpF6WneSh41GCZ");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  width: 100%;
  color: white;
}

.session-one__picture {
  width: 100%;
  height: 100vh;
  top: 0;
}

.session-one__text1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  font-family: "SVN-Ginger";
  font-size: 80px;
  line-height: 75px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.session-one__text1__item {
  position: relative;
}

.session-one__text1__item__icon1 {
  position: absolute;
  top: -20px;
  left: 79px;
}

.session-one__text1__item__icon2 {
  position: absolute;
  top: -25px;
  left: 163px;
}

.session-one__text2 {
  font-family: "UVNAiCapNhe";
  position: absolute;
  width: 90%;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0%);

  background: #40404045;
  padding: 8px;
  border-radius: 15px;
}
/* Session Two */
.session-two {
}

.session-two__container1 {
  position: relative;
  width: 100%;
  height: 22vh;
}

.session-two__picture {
  width: 100%;
  height: 100vh;
  top: 0;
}

.session-two__text1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "UVNBaLe";
  font-size: 58px;
  line-height: 60px;
  left: 50%;
  top: 50%;
}

.session-two__text1__heading {
  background: linear-gradient(to right, #2196f3, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
}

.session-two__text1__countdown {
  font-size: 60px;
  display: flex;
  align-self: center;
}

.session-two__text1__countdown__item {
  min-width: 70px;
}

.session-two__text1__countdown__item__label {
  font-size: 16px;
}

.session-two__container2 {
  position: relative;
  height: 78vh;
  background: url("https://drive.google.com/uc?export=view&id=1ClhkYJc76Q-zxmmFuwH_r2Q43OrU__hW");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}

.session-two__container2_text {
  display: flex;
  align-items: center;
  color: white;
}

.session-two__container2_text_1 {
  font-family: "UVNBaLe";
  font-size: 40px;
  position: absolute;
  left: 10px;
}

.session-two__container2_text_2 {
  font-family: "RobotoCondensed";
  font-size: 40px;
  position: absolute;
  right: 10px;
}

.session-two__container2_text_3 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Session Four */

.session-four {
  position: relative;
  width: 100%;
}

.session-four__container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background: url("https://drive.google.com/uc?export=view&id=1b2Qcu2AIzYCH8-an0xnucw6AFjB5igC3"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  /* background-color: transparent; */
  color: white;
}

.session-four__container__top {
  position: absolute;
  top: 10px;
  left: 0;
  width: 50%;
  padding: 10px;
  background: #00000045;
  padding: 8px;
  border-radius: 15px;
}

.session-four__container__top__text1 {
  text-align: left;
  font-family: "UVNAiCapNhe";
}

.session-four__container__top__text2 {
  font-family: "Vanilla";
  font-size: 50px;
  margin-top: 45px;
}

.session-four__container__top__icon {
  margin-top: 10px;
  width: 70px;
}

.session-four__container__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  padding: 10px;
  background: #00000045;
  padding: 8px;
  border-radius: 15px;
}

.session-four__container__bottom__text1 {
  text-align: left;
  font-family: "UVNAiCapNhe";
}

.session-four__container__bottom__text2 {
  font-family: "Vanilla";
  font-size: 40px;
}

.session-four__container__bottom__icon {
  width: 60px;
}

.session-four__picture {
  width: 50%;
  height: 50%;
}

.session-four__picture__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

.session-four__picture__left {
  align-self: start;
}
.session-four__picture__right {
  align-self: end;
}

.session-five {
  position: relative;
  height: 100vh;
  width: 100%;
}

.session-6__container {
}
.session-6__container--img {
  width: 100%;
}

.session-6__container--tittle {
  font-family: "UVNBaLe";
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px !important;
  background: linear-gradient(to right, #2196f3, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.session-6__container--subtitle {
  font-family: "UVNAiCapNhe";
  text-align: left;
}

.session-6__container--subtitle-1 {
  font-family: "UVNAiCapNhe";
  font-size: 30px;
}

.session-6__container--subtitle-2 {
  font-family: "UVNAiCapNhe";
  font-size: 18px;
  padding: 10px;
}

.session-6__container--end {
  font-family: "Vanilla";
  font-size: 80px;
  background: linear-gradient(to right, #2196f3, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 260px;
}
